<!DOCTYPE html>
<html>
<head>
	<title>Rating Form</title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</head>
<body>
	<div class="row justify-content-center">
		<div class="col-md-8"> 
			<div class="card">
					<div class="card-header">Rating Form</div>
		            <div class="card-body">
		            	<div class="jumbotron">
		            		<p>Name: John Doe</p>
		            		<p>Email: john.doe@ves.ac.in</p>
		            		<p>Team ID: 420</p>
		            	</div>
		                <form>
		                    <div class="form-group row">
		                        <label for="punctuality" class="col-md-4 col-form-label text-md-right">Punctuality</label>
		                        <select name="punctuality">
		                            <option value="1" selected>1</option>
		                            <option value="2" selected>2</option>
		                            <option value="3" selected>3</option>
		                            <option value="4" selected>4</option>
		                            <option value="5" selected>5</option>
		                            <option value="6" selected>6</option>
		                            <option value="7" selected>7</option>
		                            <option value="8" selected>8</option>
		                            <option value="9" selected>9</option>
		                            <option value="10" selected>10</option>
		                        </select>
		                    </div>

		                    <div class="form-group row">
		                        <label for="teamwork" class="col-md-4 col-form-label text-md-right">Teamwork</label>
		                        <select name="teamwork">
		                            <option value="1" selected>1</option>
		                            <option value="2" selected>2</option>
		                            <option value="3" selected>3</option>
		                            <option value="4" selected>4</option>
		                            <option value="5" selected>5</option>
		                            <option value="6" selected>6</option>
		                            <option value="7" selected>7</option>
		                            <option value="8" selected>8</option>
		                            <option value="9" selected>9</option>
		                            <option value="10" selected>10</option>
		                        </select>
		                    </div>

		                    <div class="form-group row">
		                        <label for="quality" class="col-md-4 col-form-label text-md-right">Quality of Work</label>
		                        <select name="quality">
		                            <option value="1" selected>1</option>
		                            <option value="2" selected>2</option>
		                            <option value="3" selected>3</option>
		                            <option value="4" selected>4</option>
		                            <option value="5" selected>5</option>
		                            <option value="6" selected>6</option>
		                            <option value="7" selected>7</option>
		                            <option value="8" selected>8</option>
		                            <option value="9" selected>9</option>
		                            <option value="10" selected>10</option>
		                        </select>
		                    </div>

		                    <div class="form-group row">
		                        <label for="approach" class="col-md-4 col-form-label text-md-right">Approach</label>
		                        <select name="approach">
		                            <option value="1" selected>1</option>
		                            <option value="2" selected>2</option>
		                            <option value="3" selected>3</option>
		                            <option value="4" selected>4</option>
		                            <option value="5" selected>5</option>
		                            <option value="6" selected>6</option>
		                            <option value="7" selected>7</option>
		                            <option value="8" selected>8</option>
		                            <option value="9" selected>9</option>
		                            <option value="10" selected>10</option>
		                        </select>
		                    </div>

		                    <div class="form-group row mb-0">
		                        <div class="col-md-6 offset-md-4">
		                            <button type="submit" class="btn btn-primary">
		                                Submit
		                            </button>
		                        </div>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>
		</div>    
	</div>
</body>
</html>
